<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
      <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <meta charset="utf-8">
    <title></title>
  </head>
<body>


</body>
<footer class="page-footer teal">

 <div class="row">
      <div class="col l6 s12">
        <h5 class="white-text" style="margin-left:30px;">FindMeFido</h5>
        <p class="grey-text text-lighten-4" style="margin-left:30px;">Our goal is to connect furry friends back with their families.<br> Please contact us with any questions.</p>
          </div>
    <div class="col l4 offset-l2 s12">
        <h5 class="white-text">Links</h5>
      <ul>
        <li><a class="grey-text text-lighten-3" href="/pets/dogs">View Dogs</a></li>
          <li><a class="grey-text text-lighten-3" href="/pets/cats">View Cats</a></li>
          <li><a class="grey-text text-lighten-3" href="#">Tips on Finding Lost Pets</a></li>
            <li><a class="grey-text text-lighten-3" href="#">Account Settings</a></li>
                    </ul>
                  </div>
                </div>
              </div>
              <div class="footer-copyright">
                <div class="container">
                © 2018 Brooke Billmaier
                <a class="grey-text text-lighten-4 right" href="#">Contact Us</a>
                </div>
              </div>
    </footer>
</html>
