<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
   <script type = "text/javascript" src = "https://code.jquery.com/jquery-2.1.1.min.js"></script>
   <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/js/materialize.min.js"></script>
   <link rel="stylesheet" href="../css/header.css">
    <meta charset="utf-8">
  </head>

  <header>

<!--Navbar  -->
    <nav class="navbar navbar-default">
      <div class="container-fluid">
        <div class="navbar-header">
          <a class="navbar-brand" href="/pets"><img src = "http://funkyimg.com/i/2Mafd.png" height="40" class = "brand"></a>
        </div>
        <form class="navbar-form navbar-right">
        <ul class="nav navbar-nav navbar-right">
                 <div class = "login">
             <% if (currentUser) { %>
                   <li class = "welcome">Welcome <%=currentUser.username%>!
                       <form action="sessions/delete?_method=DELETE" method="POST">
                     <input type="submit" class="waves-effect waves-light btn" value="Logout" id ="logout"/>
                     </form>
             <% } else {%>
                <li><a class="waves-effect waves-light btn modal-trigger" id = "login" href="#modal1"> Create Account / Log In</a>
                                 <%}%><br>
                                 <!-- /users/new  -->
                         </div>
                       </form>
                    </ul>
                  </li>
<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
  <ul class="nav navbar-nav right">
           <li class = "link"><a href = "/pets/all"> View All Pets</a></li>
           <li class = "link"><a href = "/pets/new"> Lost A Pet?</a></li>
          <%if (currentUser) {%>
            <i class="material-icons"> email</i>
          <% } %>
        </ul>
               </div>
             </div>
           </nav>
<!--end navbar  -->




   <!-- modal -->
      <div id="modal1" class="modal">
             <div class="modal-content">
    <!-- create account -->
      <h5>Create Account</h5>
      <div class = "row">
        <div class = "input-field col s6" id ="left">
        <form action = '/users' method = 'POST'>
          <label for"username">Username</label>
          <input id = "username" type ="text" class = "validate" name = "username" require>
        </div></div>
        <div class = "row">
          <div class = "input field col s6">
            <label for ="password">Password</label>
            <input type = "password" class ="validate" name = "password" required>
          </div>
        </div>
        <button class="btn waves-effect waves-light" type="submit" name="action">Submit
    <i class="material-icons right">send</i>
  </button>

      </form>

<!-- log in  -->

      <div class = "row">
        <h5>Log In</h5>
        <div class = "input-field col s6" id = "right">
        <form action = '/sessions' method = 'POST'>
          <label for"username">Username</label>
          <input id = "username" type ="text" class = "validate" name = "username" require>
        </div></div>
        <div class = "row">
          <div class = "input field col s6">
            <label for ="password">Password</label>
            <input type = "password" class ="validate" name = "password" required>
          </div>
        </div>
        <button class="btn waves-effect waves-light" type="submit" name="action">Submit
    <i class="material-icons right">send</i></button>
      </form>
    </div>
</div>
</div>
</div>
</nav>





</header>
</html>

<script>
$(document).ready(function(){

    $('.modal').modal();
})

</script>


  </body>
</html>
