<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <% include ./partials/head.ejs %>
    <meta charset="utf-8">
    <title>All Lost Cats</title>
  </head>
  <body>

    <%for (let i=0; i < cats.length; i++) {%>
  <li class = "media">
    <a href = "/pets/<%=cats[i].id%>">
    <%= cats[i].name%><br>
    <img src = "<%=cats[i].img%>">
    </a>
  </li>
      <% } %>
    </ul>
  </body>
</html>
