<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
<% include ./partials/head.ejs %>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
  <link rel = "stylesheet" href ="./css/index.css">

<title>FindMe</title>
  </head>
  <body>
   <!-- Slides -->
<div class="slider">
  <ul class="slides">
    <li>
      <img src="https://pixabay.com/get/eb31b30a29f6003ed1534705fb0938c9bd22ffd41cb2184791f7c178a4/men-2425121_1920.jpg">
      <div class="caption center-align">
        <h3>This is our big Tagline!</h3>
        <h5 class="light grey-text text-lighten-3">Here's our small slogan.</h5>
      </div>
    </li>
    <li>
    <img src="https://pixabay.com/get/e83db40f2cf2043ed1534705fb0938c9bd22ffd41cb2184695f7c270a2/adorable-1850465_1920.jpg">
      <div class="caption left-align">
      <h3>Send out alerts to those in your area</h3>
      <h5 class="light grey-text text-lighten-3">Find your furry friends fast</h5>
            </div>
          </li>
    <li>
      <img src="https://pixabay.com/get/eb33b1092ff1083ed1534705fb0938c9bd22ffd41cb2184695f7c57caf/dog-2606759_1920.jpg">
      <div class="caption right-align">
        <h3>Right Aligned Caption</h3>
    <h5 class="light grey-text text-lighten-3">Here's our small slogan.</h5>
            </div>
          </li>
        </ul>
</div>

  <center>
  <div class = "col s12"><div class = "row"><h3> Lost Pets Near </h3>
  <div class="divider"></div></div></div>
</center>
<div class ='container'>
  <div class="section">
      <div class="col s7"><span class="flow-text">
        <ul = "list-unstyled">
          <div class="row">
          <%for (let i=0; i < 3; i++) {%>
            <li class = "media">
              <div class = "child">
            <a href = "/pets/<%=pets[i].id%>">
              <img src = "<%=pets[i].img%>" class = "petimg" width =200px><br>
              <%= pets[i].name%><br>
            </div>
                </a>
                </li>
                  <% } %>
                </ul>
</div>
      </span></div>
      <div class="col s5"><span class="flow-text">
        <div class= "buttoncontainer">
          <div class = "row"><button href = "/pets/dogs" class = "btn btn-default" >See all Dogs</button></div>
          <div class = "row"><button class = "btn btn-default" href = "/pets/cats">See all Cats</button></div>
          <div class = "row"><button href = "/pets/all"class = "btn btn-default" >See all Pets</button></a></div>
        </div>
      </span></div></div>
    </div>
  </div>
</div>
<Script>
$(document).ready(function(){
   $('.slider').slider();
 });
 </script>

  </body>
</html>
