<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
<% include ./partials/head.ejs %>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
  <link rel = "stylesheet" href ="./css/index.css">

<title>FindMe</title>
  </head>
  <body>
   <!-- Slides -->
<div class="slider">
  <ul class="slides">
    <li>
      <img src="https://cdn1.imggmi.com/uploads/2018/10/17/93b814599acc6ebafc520cedc1ba7602-full.jpg">
      <div class="caption center-align">
        <h3>Welcome to FindMeFido!</h3>
        <h5 class="light grey-text text-lighten-3">Keep an eye out for lost pets in your area with text or email alerts.</h5>
      </div>
    </li>
    <li>
    <img src="https://pixabay.com/get/e83db40f2cf2043ed1534705fb0938c9bd22ffd41cb2184695f7c270a2/adorable-1850465_1920.jpg">
      <div class="caption left-align">
      <h3>Send out alerts to those in your area</h3>
      <h5 class="light grey-text text-lighten-3"><i>Find your furry friends fast!</i></h5>
            </div>
          </li>
    <li>
      <img src="https://pixabay.com/get/eb33b1092ff1083ed1534705fb0938c9bd22ffd41cb2184695f7c57caf/dog-2606759_1920.jpg">
      <div class="caption right-align">
        <h3>Post Your Lost Pet Now</h3>
    <h5 class="light grey-text text-lighten-3">Be seen by thousands in your area.</h5>
            </div>
          </li>
        </ul>
</div>

  <center>
  <div class = "col s12"><div class = "row"><h3> Lost Pets Near Chicago, IL</h3>
  <div class="divider"></div></div></div>
</center>
<div class ='container'>
  <div class="section">
      <div class="col s7"><span class="flow-text">
        <ul = "list-unstyled">
          <div class="row">
          <%for (let i=0; i < 3; i++) {%>
            <li class = "media">
              <div class = "card-panel teal lighten-2">
              <div class = "child">
            <a href = "/pets/<%=pets[i].id%>" id = "name">
              <img src = "<%=pets[i].img%>" class = "petimg" width =200px><br>
              <%= pets[i].name%><br>
            </div>
                </a>
                </li>
                  <% } %>
                </ul>
</div>
      </span></div>
      <div class="col s5"><span class="flow-text">
        <div class= "buttoncontainer">
          <div class = "row"><a href = "/pets/dogs" class = "waves-effect waves-light btn btn-large">See all Dogs</a></div>
          <div class = "row"><a href = "/pets/cats" class = "waves-effect waves-light btn btn-large">See all Cats</a></div>
          <div class = "row"><a href = "/pets/all" class = "waves-effect waves-light btn btn-large" >See all Pets</a></div>
        </div>
      </span></div></div>
    </div>
  </div>
</div>
<footer>


</footer>

<Script>
$(document).ready(function(){
   $('.slider').slider();
 });

 </script>

  </body>
</html>
