img.petimg {
  border: 1px solid black;
  width: 200px;
  height: 250px;
}
.container {
    display: flex;'
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
}

.col {
  flex-grow: 1;
}
