.modal {
  overflow: hidden;
}
.login {
  top: 0;
}

.welcome {
  text-transform: capitalize;
  color: black;
  font-size: 20px;
}
.link{
  margin-top: 10px;
  font-size: 20px;
  color: black;
}

.brand {
  margin-top: -5px;
}
 #login {
   margin-top: -20px;
 }
