
.login {
  top: 0;
}

.welcome {
  text-transform: capitalize;
  color: black;
  font-size: 20px;
}
.link{
  font-size: 20px;
  color: black;
  margin-top: 5px;
  left: -20px;
}

.brand {
  margin-top: -10px;
  padding-top: 5px;
  position: absolute;
  top: 5px;
}
 #login {
   margin-top: -20px;
 }
 #logout {
   margin-top: -20px;
   margin-bottom: 20px;
 }
 .material-icons {
   color: darkgray;
   left: -40px;
   margin: 0 15px;
 }

 .welcome {
   color: black;
   padding: 0 20px 0 20px;;
   margin: -10px 10px 0 15px;
 }
